@using UnityWeb.HtmlHelpers
@model List<UnityWeb.Models.CartItem.CartItemViewModel>
  
@Html.HiddenFor(m => m.First().CartId, new { @class = "cartId" })  

@for (int i = 0; i < Model.Count; i++)
{
  <tr>
    <td colspan="6">
      <table class="subtable">
        <thead>
          <tr class="data">
            <th style="width:5%;">
              @Html.CheckBoxFor(m => @Model[i].Selected, new { @class = "docSelected" })
              @Html.HiddenFor(m => m[i].DocumentId, new { @class= "docGuid" })
              @Html.HiddenFor(m => m[i].DocumentId, new { @class= "docId" })
              @Html.HiddenFor(m => m[i].ManCo, new { @class = "manCo" })
              @Html.HiddenFor(m => m[i].DocType, new { @class = "docType" })
              @Html.HiddenFor(m => m[i].SubDocType, new { @class = "subDocType" })
              @Html.HiddenFor(m => m[i].DocumentId, new { @class = "documentId" })
            </th>
            <th class="odd" style="width:10%;"><img src="@Url.Content("~/Images/warning.png")" class="warning" style="display:none;" /> @Model[i].DocType</th>
            <th class="odd" style="width:25%;">@Model[i].SubDocType</th>
            <th class="odd" style="width:25%;">@Model[i].ManCoDisplay</th>
            <th class="odd" style="width:25%;">@Model[i].ApprovalStatus</th>
            <th class="odd txtright">@Html.ActionImage(@Url.Action("PdfContainer", "Document", new { DocumentId = @Model[i].DocumentId }), @Url.Content("~/Images/pdf.gif"), "pdf", "showDocument")
              @Html.HiddenFor(m => Model[i].DocumentId, new { @class= "DocumentId" })
            </th>
          </tr>
        </thead>
      </table>
    </td>
  </tr>
}