@model UnityWeb.Models.NewsTicker.EditNewsTickerViewModel

@{
    ViewBag.Title = "News Ticker";
}



<section class="accordion" style="margin-top: 5px;">
    <section class="pane">
        <table>
            <thead>
                <tr>
                    <th class="data6">News</th>                   
                    <th class="last"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                        @TempData["comment"]
                         @using (Html.BeginForm("Update","NewsTicker", FormMethod.Post, new{id = "form" }))
                        {
                            @Html.HiddenFor(model => model.Date)
                            @Html.HiddenFor(model => model.Id)
                            <fieldset>
                                <legend></legend>
                                <div class="field4 floatleft">
                                    @Html.LabelFor(m => m.News)
                                </div>
                                <div class="field4 floatleft noclear">                                 
                                    @Html.TextAreaFor(m => m.News, 10, 75, null)                                   
                                </div>
                                
                                 <div class="field3 floatright">
                                      <input type="submit" value="Save" class="insertbtn" />
                                        @Html.ActionLink("Cancel","Index", "Dashboard",null,new {@class = "btnCancelEdit"})
                                </div>
                                <div class="clearfix"></div>
                            </fieldset>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>



    
    