<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Northern Trust</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="@Url.Content("~/Content/normalize.min.css")">
  <link rel="stylesheet" href="@Url.Content("~/Content/main.css")">
  <link rel="stylesheet" href="@Url.Content("~/Content/login.css")">  
  <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <script src="@Url.Content("~/Scripts/modernizr-2.6.2.min.js")"></script>
</head>
<body>
<div class="col7 marginauto" style="margin-top: 0px;">
  @Html.Action("Index", "Environment")
  <div class="clearfix"></div>
</div>
<div class="col7 marginauto">
  @RenderBody()
</div>
<div class="col7 marginauto">
  <div class="loginfooter">
    <img src="@Url.Content("~/images/assets/logo.png")" alt="Unity" class="floatleft" />
    <img src="@Url.Content("~/images/assets/dst.png")" alt="DST Output" class="floatright" />
    <img src="@Url.Content("~/images/assets/nt.png")" alt="Northern Trust" class="floatright" style="margin-top: 10px;" />
    <div class="clearfix"></div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="scripts/jquery-2.0.2.min.js"><\/script>')</script> 
  <script src="@Url.Content("~/Scripts/main.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.corner.js")"></script> 
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
