@using UnityWeb.Resources.Account
@model UnityWeb.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = ChangePassword.Title;
    Layout = "~/Views/Session/_Layout.cshtml";
}

<h3>Change password</h3>

@using (Html.BeginForm("UpdatePassword", "Account"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserName)
    <div class="col5 marginauto">
        <p>
            @Html.LabelFor(m => m.OldPassword, ChangePassword.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </p>
        <p>
            @Html.LabelFor(m => m.NewPassword, ChangePassword.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </p>
        <p>
            @Html.LabelFor(m => m.ConfirmNewPassword, ChangePassword.ConfirmNewPassword)
            @Html.PasswordFor(m => m.ConfirmNewPassword)
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </p>
        <input type="submit" value="Change password" />
        <div class="clearfix"></div>
    </div>
}